@import "./variables";

* {
  box-sizing: border-box;
}
body {
  color: var(--color);
  font: 16px Helvetica, serif;
}
body, h1, h2, h3, h4, h5 {
  margin: 0
}
.fl {
  float: left;
}
.fr {
  float: right;
}
