body, input, textarea, button, .CodeMirror {
  font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

input, button {
  font-size: 14px;
}

body {
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  position: relative;
}

a {
  color: #333;
  text-decoration: none;
}

.inner {
  padding: 10px;
}

.CodeMirror {
  height: 100% !important;
}

.noties {
  top: 50px;
}

#app {
  .ps-container.ps-active-x > .ps-scrollbar-x-rail, .ps-container.ps-active-y > .ps-scrollbar-y-rail {
    top: 0 !important;
  }

  .ps-container > .ps-scrollbar-y-rail {
    border-radius: 2px;
    background-color: #eee;
    .ps-scrollbar-y {
      border-radius: 2px;
      border: 1px solid #bbb;
      background-color: #ccc;
    }
  }
  .CodeMirror-simplescroll-vertical {
    cursor: default;
    opacity: 0;
    background-color: #eee;
    transition: opacity .3s;
  }
  .write-here {
    .CodeMirror {
      height: 100%;
      font-family: inherit;
      padding: 10px;
      padding-right: 0;
    }
  }
  .edit-main {
    &:hover {
      .CodeMirror-simplescroll-vertical {
        transition: opacity .3s;
        opacity: .5;
        &:hover {
          opacity: .8;
        }
      }
    }
  }
}
